<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Edit Profile Page
        {% endblock %}
    </title>
</head>
<body>

    {% block content %}
    {% if user.is_authenticated and user.id == profile.user.id %}

        <h1> Edit Profile ... </h1>
        <br><br>
        <div class="form-group">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="btn btn-secondary">Update Profile</button>
            </form>
        </div>
    {% else %}
    <h1>You are not allowed to make any changes to this page...</h1>
    {% endif %}
    {% endblock %}
</body>
</html>