<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{post.title_tag}}
        {% endblock %}
    </title>
</head>
<body>

    {% block content %}

    <h1>{{ post.title }}</h1>
    <b>
        <small>
            By: {{ post.author.first_name }} {{ post.author.last_name }}
            {% if user.is_authenticated and user.id == post.author.id %}
            <small>
                <b> - </b>
                <a href="{% url 'update_post' post.pk %}">
                    (Edit)
                </a>
                <a href="{% url 'delet_post' post.pk %}">
                    (delet)
                </a>
            </small>
            {% endif %}
        </small>
    </b>
    <br>
    <small>
        <b>Post Date:</b> {{ post.post_date }}
    </small>
    <hr>
    <br>
    {% if post.header_image %}
        <img src="{{ post.header_image.url }}" style="display: block; height: 466px; width: 700px;">
        <br><br>
    {% endif %}
    {{ post.body | safe }}
    <br><br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <br><br>
    <hr>
    <form action="{% url 'like_post' post.pk %}" method="post">
        {%csrf_token%}
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button> -
            {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> -
            {% endif %}
        {% else %}
        <small><strong><a href="{% url 'login' %}">(Login to Like)</a></strong></small><br>
        {% endif %}
        {{ total_likes }} Likes
    </form>

    <hr>
    <div class="card mb-3">
      <div class="row g-0">
      {% if post.author.profile.profile_pic %}
        <div class="col-md-2">
          <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
        </div>
      {% else %}
        <div class="col-md-2">
          <img src="{% static 'myblogify/images/img.jpg' %}" class="img-fluid rounded-start" alt="...">
        </div>
      {% endif %}
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
              <p class="small text-muted">
                  <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>

                  {% if post.author.profile.website_url %}
                    | <a href="{{ post.author.profile.website_url }}">Website</a>
                  {% endif %}
                  {% if post.author.profile.facebook_url %}
                    | <a href="{{ post.author.profile.facebook_url }}">Facebook</a>
                  {% endif %}
                  {% if post.author.profile.twitter_url %}
                    | <a href="{{ post.author.profile.twitter_url }}">Twitter</a>
                  {% endif %}
                  {% if post.author.profile.instagram_url %}
                    | <a href="{{ post.author.profile.instagram_url }}">Instagram</a>
                  {% endif %}
                  {% if post.author.profile.github_url %}
                    | <a href="{{ post.author.profile.github_url }}">Github</a>
                  {% endif %}
              </p>
            <p class="card-text">{{ post.author.profile.bio }}</p>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <h4>Comments...</h4>
    {% if not post.comments.all %}
        <h6>No Comments Yet...<a href="{% url 'add_comment' post.pk %}">Add One</a></h6>
    {% else %}
        <a href="{% url 'add_comment' post.pk %}">Add Your Comment</a>
        <br><br>
        {% for comment in post.comments.all %}
            <strong>{{ comment.name}} - {{ comment.date_added }} </strong>
            <br>{{ comment.body }}
            <br><br>
        {% endfor %}
    {% endif %}

    <br><br>

    {% endblock %}
</body>
</html>