<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Delet Blog Post
        {% endblock %}
    </title>
</head>
<body>

    {% block content %}
    {% if user.is_authenticated and user.id == post.author.id %}

        <h1> Delet Post ... </h1>
        <br><br>
        <h3>Delet: {{ post.title }}</h3>
        <br>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                <strong>Are you sure?!</strong>
                <br><br>
                <button class="btn btn-secondary">Delet</button>
            </form>
        </div>
    {% else %}
        <h1>You are not allowed to make any changes to the posts</h1>
    {% endif %}
    {% endblock %}
</body>
</html>